<body class="d-flex  text-center text-white " style="background-image:url('./71+17bVYHxL._SL1000_.jpg');">
    
    <div class="container" style="background-color:maroon;">
      <main class="px-5 py-4" >
        <h1>Good {{greet}} Neha</h1>
        <p class="lead py-2">Welcome back to MyScreen. It’s good to see you again. Like what you see on www.WelcomeScreen.com? Find something you really Love. Click the Below Button.</p>
        <p class="lead">
            <button class="btn btn-lg  fw-bold text-dark  py-2 px-4" style="background-color:blue;" 
               (click)="myfun()">Click Here</button>        
        </p>
      </main>
    </div>
</body>
     
     