<div class="page-wrap d-flex flex-row align-items-center" style="background-color:purple;">
    <div class="container bg-dark text-white py-5" style="background-color:green;">
        <div class="row justify-content-center" style="background-color:green;">
            <div class="col-md-12 text-center">
                <span class="display-1 d-block">404</span>
                <div class="mb-4 lead">The page you are looking for was not found.</div>
                <button class="btn btn-primary" (click)="backtohome()">Back</button>
            </div>
        </div>
    </div>
</div>

